.block-container-container {
    color: black;
    border: solid #000;
    border-radius: 5px;
    display: table;
    width: 5em;
    height: 5em;
    overflow: hidden;
}

.block-container-container .selected {
    background-color: #3089fc;
    color: black;
    border: solid yellow 2px;
}

.block-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}